<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchBrand</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WCSPlatformAPIBaseURL</key>
	<string>https://api.wcs.education/v1</string>
	<key>WCSBackendProvider</key>
	<string>supabase</string>
	<key>WCSAppleSubscriptionProductIDs</key>
	<string>wcs.individual.pro.monthly</string>
	<key>WCSAdminAccessCode</key>
	<string>wcs-admin-2026</string>
	<key>WCSLessonTextToVideoEndpoint</key>
	<string>$(WCS_LESSON_TEXT_TO_VIDEO_ENDPOINT)</string>
	<key>WCSLessonTextToVideoAPIKey</key>
	<string></string>
	<key>WCSLessonTextToVideoSupabaseAnonKey</key>
	<string>$(WCS_SUPABASE_PUBLISHABLE_KEY)</string>
	<key>WCSLessonTextToVideoRequestTimeoutSeconds</key>
	<integer>120</integer>
	<key>WCSLessonTextToVideoProviderBackendHint</key>
	<string></string>
	<key>WCSLessonTextToVideoExtraHTTPHeadersJSON</key>
	<string></string>
	<key>WCSLessonVideoMockGenerationDelayMillis</key>
	<integer>600</integer>
	<key>WCSLessonVideoJobListSecret</key>
	<string>$(WCS_LESSON_VIDEO_JOB_LIST_SECRET)</string>
	<key>WCSPerplexityAPIKey</key>
	<string>$(WCS_PERPLEXITY_API_KEY)</string>
	<key>WCSYouTubeDataAPIKey</key>
	<string>$(YOUTUBE_DATA_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
